[Hook Scripts]
sync-inspection-profiles = ${REPO_ROOT}/tools/repohooks/tools/sync-inspection-profiles.py --subset-profile=.idea/inspectionProfiles/tools_presubmit.xml --superset-profile=.idea/inspectionProfiles/tools_ide.xml --commit=${PREUPLOAD_COMMIT} --fix

[Builtin Hooks]
google_java_format = true
clang_format = true
ktfmt = true

[Builtin Hooks Options]
google_java_format = --sort-imports
clang_format = --style=google --extensions cc,h --commit HEAD --git-clang-format ${REPO_ROOT}/prebuilts/tools/common/clang-format/git-clang-format --clang-format ${REPO_ROOT}/prebuilts/tools/${BUILD_OS}/clang-format/clang-format${BUILD_OS_EXEC_EXTENSION}
# TODO(476037624): remove all excludes after standalone-render/compose-cli/testData.
ktfmt = --enable-editorconfig --exclude-dirs=apkparser/testapp,app-inspection/test-app,backup/backup-restore-app,bazel/test,build-system/integration-test/test-projects,debuggers/test/data,debugger-tests/resources,deploy/test/data,kexter/test/resources,standalone-render/compose-cli/testData,adblib,adblib-ddmlibcompatibility,adblib-tools,android-test,apkparser,app-inspection,backup,backup-test,bazel,build-analyzer,build-system,ddmlib,debuggers,deploy,dynamic-layout-inspector,fakeadbserver,fakeandroid,firebase,jdwp-packet,journeys,kexter,kotlin-multiplatform-models,layoutlib-extensions,leakcanarylib,multipreview-asm,perf-logger,preview,process-monitor,profgen,profiler,repository,resource-repository,sdklib,standalone-render,studio-grpc-testutils,testutils,threading-agent,tracer,transport,usb-devices,utp,wizard

[Tool Paths]
google-java-format = ${REPO_ROOT}/prebuilts/tools/common/google-java-format/google-java-format
google-java-format-diff = ${REPO_ROOT}/tools/repohooks/tools/google-java-format-diff.py
ktfmt = ${REPO_ROOT}/prebuilts/tools/common/ktfmt/ktfmt
