# User-specific and generated IntelliJ files
/workspace.xml
/tasks.xml
/usage.statistics.xml
/kotlin-statistics.xml
/dictionaries/
/shelf/
/caches/
/out/
/httpRequests/
/queries/
/dataSources/
/dataSources.local.xml
